In [17]:
import pandas as pd
df1=pd.read_csv("world.csv")
df2=df1[["洲名","國家","日期","總確診數","新增確診數"]]
df3=df2.query("國家=='台灣'")
df4=df3.sort_values(by="新增確診數",ascending=False)
df5=df4.iloc[:5]
df6=df5.set_index("日期")
df6

            洲名  國家     總確診數   新增確診數
日期
2022-05-14  亞洲  台灣   699824  128954
2022-05-09  亞洲  台灣   397504  128935
2022-05-27  亞洲  台灣  1735067   94796
2022-05-19  亞洲  台灣  1070561   89420
2022-05-25  亞洲  台灣  1558380   89361

In [16]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2022-05-14 to 2022-05-25
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   洲名      5 non-null      object
 1   國家      5 non-null      object
 2   總確診數    5 non-null      int64
 3   新增確診數   5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 200.0+ bytes